

/* Table styling for different match results */
.table-row-cell:filled:selected {
    -fx-background-color: #1a73e8 !important;
    -fx-text-fill: white;
}

.table-row-cell:filled {
    -fx-background-insets: 0;
}

.table-row-cell:filled .table-cell {
    -fx-padding: 5px;
}

.table-row-cell:filled:focused {
    -fx-background-color: #cccccc;
}

.table-row-cell:filled .table-cell:focused {
    -fx-background-color: transparent;
}

/* Styling for Win, Lose, and Draw rows */
.table-row-cell:filled {
    -fx-background-color: #ffffff;
}

.table-row-cell:filled:even {
    -fx-background-color: #f9f9f9;
}
.root {
    -fx-background-color: #dedede; /* Màu nền tổng thể */
}

.table-cell {
    -fx-alignment: CENTER; /* Căn giữa nội dung */


}